<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94329949883-bvta155cdjh4k3n0fa7uhio4gtfvslgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94329949883-bvta155cdjh4k3n0fa7uhio4gtfvslgc</string>
	<key>API_KEY</key>
	<string>AIzaSyCjMzus2EbQd3dt3eOpwL1nfu93R6KOYDc</string>
	<key>GCM_SENDER_ID</key>
	<string>94329949883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leticiamarques.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-b1787</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-b1787.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94329949883:ios:4c41958c98abefcdc9239e</string>
</dict>
</plist>